<ion-header>
  <ion-toolbar>
    <ion-title class="toolbar-title">TravelBackApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-image animated fadeIn">
    <ion-card class="welcome-card animated fadeInUp">
      <ion-card-header>
        <img src="/assets/img/logo.png" alt="TravelBackApp Logo" class="logo">
        <ion-card-title class="welcome-title">Bienvenido a TravelBackApp</ion-card-title>
      </ion-card-header>
      <ion-card-content class="welcome-content">
        <p>Tu lugar para registrar y recordar tus viajes.</p>
        <ion-button expand="block" class="start-button" (click)="navigateToEntries()">Vamos a esos recuerdos!</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
